@charset "utf-8";

 
.row {max-width: 1920px; margin: 0 auto;}

#header .topmenu { width: 100%; display: inline-block;}
#header .topmenu .logo {float: left; padding: 5px 235px 10px 20px; }
#header .topmenu .menubox {float: left; position: relative; background: #ffffff;}
#header .topmenu .menubox .depth1 > li {display: inline-block;
    padding: 25px 35px;  position: relative; transition: all 0.5s; }
#header .topmenu .menubox .depth1 > li > a { font-size: 18px;
text-align: center; margin: 0 auto;  position: relative;}
#header .topmenu .login_box {float: right; padding:25px 15px; font-size: 14px; text-align: center;}
#header .topmenu .login_box a:nth-child(1),
#header .topmenu .login_box a:nth-child(2),
#header .topmenu .login_box a:nth-child(3) {padding: 0 5px 0 9px; }

#header .topmenu .menubox .depth2 {color: #111; padding: 10px 0px; display: none; z-index: 9999;
     position: absolute; top: 100%; left: 0; width: 100%; height: 200px; text-align: center; transition: all 0.5s; z-index: 9999;}
#header .topmenu .menubox .depth2 > li { padding: 7px 0px;}
#header .topmenu:hover .menubox .depth1 .depth2 {display: block;}
#header .topmenu .menubox .depth1 > li:hover > a  {border-bottom:3px solid navy; padding-bottom: 5px;} 
#header .topmenu .menubox .depth1 > li:hover,
#header .topmenu .menubox .depth1 > li:hover .depth2 {background: rgba(0, 0, 0, 0.1);}

#header .topmenu .menubox .depth2 > li:hover {color:blue;}
.decobox {position: absolute; top: 100%; left: 0; width: 100%; height: 200px; 
    background:#ffff; display: none;}
    .depth1:hover + .decobox {display: block;}

    

